.text-limit {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 128px;      /* fallback */
   -webkit-line-clamp: 8; /* number of lines to show */
   /*! autoprefixer: off */
   -webkit-box-orient: vertical;
}

.header-limit {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   min-height: 100px;
   max-height: 100px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   /*! autoprefixer: off */
   -webkit-box-orient: vertical;
}
